
.section-footer {
    text-align: center;
}

.section-footer ul {
    list-style: none;
}

.section-footer li:first-of-type:before {
    content: none;
}

.section-footer li:before {
    color: white;
    content: "\2022\00A0";
}

.section-footer li {
    display: inline-block;
    list-style: none;
}

.section-footer ul,
.section-footer ul a {
    color: #CCC;
}

.section-footer ul a:hover {
    color: white;
}
